/*reset*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*main social*/
body{
    background: cadetblue;
}
label {
    cursor: pointer;
}
.wrapper {
    margin: auto 0;
    padding: 80px 0;
    position: relative;
    font-size: 30px
}
input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]+label {
    display: inline-block;
    position: relative;
    padding: 0px;
    margin-left: 100px;
    width: 50px;
    height: 15px;
}
input[type="checkbox"]+label::before {
    content: "";
    width: 50px;
    height: 20px;
    border: 1px solid gold;
    border-radius: 38%;
    position: absolute;
    top: 3px;
    left: -85px;
    margin-left: 30px;
    background: radial-gradient(circle at 50% 50%, red 30% , ivory 30%) 13px ;
    transition: all .5s linear;
}
input[type="checkbox"]:checked+label::before {
    position: absolute;
    background: radial-gradient(circle at 50% 50%, green 30% ,ivory 30%) -13px ;
}
input[type="checkbox"]+label::after {
    content: "";
    position: absolute;
    width: 9px;
    height: 4px;
    top: 10px;
    left: -47px;
    border-left: 1px solid transparent;
    border-bottom: 1px solid transparent;
    transform: rotate(-41deg);
}
input[type="checkbox"]:checked+label::after {
    content: "";
    position: absolute;
    width: 9px;
    height: 4px;
    top: 10px;
    left: -47px;
    border-left: 1px solid blue;
    border-bottom: 1px solid blue;
    transform: rotate(-41deg);
    transition: border .6s linear .5s;
}

